body {
    font-family: "Noto Sans JP", sans-serif;
    background-image: url(https://img.freepik.com/foto-gratis/hermosa-joven-delgada-haciendo-ejercicios-estiramiento-gimnasio-contra-blanco_155003-17254.jpg);
}
.navbar {
    margin-top: 20px;
    
  }
  .statistics {
    padding: 20px;
    background-color: #e6d00f;
    border-radius: 8px;
    margin-top: 20px;
  }
  
  .results-table {
    margin-bottom: 20px;
    background-color: white;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .caption {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
 .th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .thead {
    background-color: #f2f2f2;
  }
  
  .performance-chart {
  }
  
  .success-stats {
    margin-top: 20px;
  }
  .mensaje {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
    color:#CC9900;
  }
  .redes-sociales {
    display: flex;
    align-items: center;
  }
  
  .social-logo {
    width: 80px; 
    height: auto; 
    border: none; 
    margin-right: 10px; 
  }
  .message-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px; 
    color: #CC9900;
}

footer {
    background-color: #cc9900;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.footer-content {
    text-align: left;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.imagenred {
  max-width: 100%;
  width: 800px; 
  height: 400px;
  margin-left: auto;
  margin-right: auto; 
  display: block;
}
.contenedor-imagenes {
    position: relative;
}

.redes-sociales {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.imagen-gif {
  position: relative; 
  top: 20px; 
  right: 0;
  
}
.logo {
  max-width: 100%; 
  height: auto;
  display: block; 
  margin: 0 auto; 
}
  