.navbar {
    margin-top: 20px;
} 
body {
    font-family: "Noto Sans JP", sans-serif;
    background-image: url(https://img.freepik.com/foto-gratis/hermosa-joven-delgada-haciendo-ejercicios-estiramiento-gimnasio-contra-blanco_155003-17254.jpg);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .nosotros-section {
    text-align: center;
    padding: 20px;
  }
  
  .imagen-ecuabet img {
    width: 75%;
  }
  
  .nosotros-section h2 {
    color: gold;
  }
  
.letracolor{
    color: rgb(233, 224, 210);
}
.redes-sociales {
    display: flex;
    align-items: center;
  }
  
  .social-logo {
    width: 80px; 
    height: auto; 
    border: none; 
    margin-right: 10px; 
  }
  .message-container {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px; 
    color: yellow;
  }
  .video {
    margin-bottom: 30px;
    background-color: #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iframe {
    display: block;
    margin: 0 auto;
}
.mensaje {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color:#CC9900;
}
.redes-sociales {
  display: flex;
  align-items: center;
}

.social-logo {
  width: 80px; 
  height: auto; 
  border: none; 
  margin-right: 10px; 
}
.message-container {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px; 
  color: #CC9900;
}

footer {
  background-color: #cc9900;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.footer-content {
  text-align: left; 
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.imagenred {
max-width: 100%;
width: 800px; 
height: 400px;
margin-left: auto;
margin-right: auto; 
display: block;
}
.contenedor-imagenes {
  position: relative;
}

.redes-sociales {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative; 
}

.imagen-gif {
position: relative; 
top: 20px; 
right: 0;

}
.logo {
max-width: 100%; 
height: auto;
display: block; 
margin: 0 auto; 
}  

.nosotros-section {
  text-align: center;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  text-align: justify; 
  padding: 20px; 
  background-color: #CC9900; 
  border: 2px solid #ebe9e5; 
  border-radius: 10px;
}

.content-container img {
  max-width: 100%;
  height: auto; 
  border-radius: 8px;
}

.letracolor {
  color: rgb(10, 10, 10); 
  font-family: "Nombre de la fuente", sans-serif; 
  font-size: 1.2em; 
}


.image-containers {
  order: -1;
}